<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章添加</title>
    <link rel="stylesheet" href="/static/css/r_content.css" type="text/css">
</head>
<body>
    <form method="post" action="">
    {% csrf_token %}
        <div class="men">
            <a href="{% url 'article' %}">返回文章列表</a>
        </div>

        <table cellpadding="10" cellspacing="0">
            <tr>
                <td>标题名称：</td>
                <td><input type="text" name="title" placeholder="请输入标题" maxlength="32" value="{{ info.title }}"><span class="must">*</span></td>
            </tr>
            <tr>
                <td>分类名称：</td>
                <td>
                {% if all_category %}
                    {% for i in all_category %}
                        {% if forloop.first %}
                            <select name="flm">
                        {% endif %}
                            {% if i.id == info.category.id %}
                                <option value="{{ i.id }}" selected>{{ i.name }}</option>
                            {% else %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endif %}
                        {% if forloop.last %}
                            </select>
                        {% endif %}
                        {% empty %}
                        <a href="{% url 'category_add' %}">没有类别,去添加！</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>详细内容：</td>
                <td>
                    <textarea  name="content" id="content" style="display: none;"></textarea>
                    {% include 'common/editor.html' %}
                    <script>
                        function cont() {
                            document.getElementById("content").innerHTML = editor.txt.html();
                        }
                    </script>

                </td>
            </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="提交" onclick="cont()">
                <input type="reset" value="重置">
            </td>
        </tr>
        </table>

    </form>
</body>
</html>