{% extends "common/base.html" %}
{% block css %}
    <link href="/static/css/index_u.css" rel="stylesheet">
{% endblock %}
{% block article %}
    <div class="l_box">
        <div class="about_me">
            <h2>关于我</h2>
            <ul>
                <li></li>
                <li><p><b>{{ u_info.username }}</b>,{{ u_info.introduce }}</p></li>
            </ul>
        </div>
        <div class="wdxc">
            <h2>我的相册</h2>
            <ul>
                <li><a href="/"><img src="/static/images/7.jpg"></a></li>
                <li><a href="/"><img src="/static/images/8.jpg"></a></li>
                <li><a href="/"><img src="/static/images/9.jpg"></a></li>
                <li><a href="/"><img src="/static/images/10.jpg"></a></li>
                <li><a href="/"><img src="/static/images/11.jpg"></a></li>
                <li><a href="/"><img src="/static/images/12.jpg"></a></li>
            </ul>
        </div>
        <div class="search">
            <form>
                {% csrf_token %}
                <input type="text" id="key_word">
                <input type="submit">
            </form>
        </div>
        <div class="fenlei">
            <h2>文章分类</h2>
            <ul>
                {% for i in category %}
                    <li>{{ i.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>站长推荐</h2>
            <ul>
                <li><a href="/">你是什么人便会遇上什么人</a></li>
            </ul>
        </div>
    </div>
    <div class="r_box">
        <ul>
            {% for i in article %}
            <li>
                <h3><a href="/">{{ i.title }}</a></h3>
                <p>{{ i.content | safe }}</p>
            </li>
            {% endfor %}
        </ul>
        <div class="page">
            <span>首页</span>
            <span>上一页</span>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <span>下一页</span>
            <span>尾页</span>
        </div>
    </div>
{% endblock %}